<header class="header-flex-container">
    <div id="min-background">
<form action="/artist-search", method="GET">
  <input type="search" id="mySearch" name="allsearch" placeholder="The Beatles">
    <button type="submit">Search for an Artist</button>
</form>
    </div>

</header>

