 <div class="table-flex-contain">
        <figcaption id="title-styling">Title</figcaption>

        <figcaption id="listen-styling">Listen</figcaption>
    </div>
<div class="audio-flex-styling">
    {{#each item}}

    <h3>{{name}}</h3>
     <audio
     controls
        src={{preview_url}}> 
                Download audio
            </a>
    </audio>
    {{/each}}
</div>

